*{
    margin: 0;
    padding: 0;
}

header{
    background-color: rgba(0, 0, 0, 0.700);
    margin: 0 auto;
    padding: 10px;
}

.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 15px 15px 15px 15px;
    padding: 10px;
}

.nav-bar-esq{
    background-color: #c5c5c5;
    padding: 10px;
    border-radius: 15px;
}

.nav-bar-esq img{
    width: 60px;
    border-radius: 15px;
    cursor: pointer;
    transition: 0.5s;
}

.nav-bar-esq img:hover{
    width: 70px;
    border-radius: 15px;
}

.nav-bar-dir{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #c5c5c5;
    border-radius: 15px;
}

.nav-bar-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 60px;
    height: 80px;
}

.nav-bar-dir svg{
    width: 60px;
    height: 20px;
    color: #fff;
    transition: 0.5s;
}

.nav-bar-dir svg:hover{
    width: 70px;
    border-radius: 15px;
    color: #003147;
}

body{
    background-image: url(../assets/water.gif);
    background-size: cover;
    position: relative;
}

